<nav class="navbar navbar-expand-lg navbar-dark mb-3">
  <a routerLink="/">
	 <img class="logo" src="assets/logo.svg">
  </a>

   <div id="wrapper" class="d-lg-none" #wrapper (click)="toggleButton(wrapper)">
    <div class="circle icon">
      <span class="line top"></span>
      <span class="line middle"></span>
      <span class="line bottom"></span>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <!-- #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)"   -->
    <form class="form-inline my-2 my-lg-0 ml-auto" #f="ngForm" (ngSubmit)="onSubmit(f)" >

      <!-- name="first" ngModel required #first="ngModel" -->

      <!-- name="q" [(ngModel)]="q" -->


      <input
        class="form-control mr-sm-2"
        type="search" placeholder="Search" aria-label="Search"
        name="q" ngModel required #q="ngModel"

         />
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<!-- Mobile nav -->
<div class="mobile-nav">
  
  <!--  #mobileSearchForm="ngForm" (ngSubmit)="onSubmit(mobileSearchForm)" -->

  <form class="form-inline m-3" #mf="ngForm" (ngSubmit)="onSubmit(mf)" >
    <input
      class="form-control mr-sm-2 w-100 mb-3"
      type="search" placeholder="Search" aria-label="Search"
      name="q" ngModel required #q="ngModel"
      
      />
      <!-- name="q" [(ngModel)]="q" -->
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>

</div>
