<div class="loader" *ngIf="!channel"></div>


<section class="container-fluid" *ngIf="channel">

  <h1>Search results for "{{searchQuery}}"</h1>
  <hr />
  <div class="row">
    
    <div class="col-12">
      <p *ngIf="channel.items.length === 0">No results found.</p>
    </div>
    
      <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-4" *ngFor="let item of channel.items">
        <a routerLink="/video/{{item.id.videoId}}">
          <div class="wrapper mb-2">
            <img
              #el
              (load)="imageFadeIn(el)"
              src="{{item.snippet.thumbnails.medium.url}}"
              alt="{{item.snippet.title}}"
            />
          </div>
          <h2 class="mb-0">{{item.snippet.title}}</h2>
          <i class="far fa-calendar-alt"></i>
          <small>{{item.snippet.publishedAt | date }}</small>
        </a>
      </div>
    

  </div>
</section>
 
